<h2><%= @user.email %>'s Images</h2>


<% if current_user == @user %>
  All images:
<% elsif current_user.following?(@user) %> 
  You are following <%= @user.email %>
  <%= button_to "Unfollow #{@user.email}", 
    unfollow_user_path(@user), method: :delete %>  
<% else %>
  <%= button_to "Follow this user", follow_user_path(@user) %>  
<% end %>


<div class="thumbs">
  <%= render @images %>
</div>