<h2><%= @user.email %>'s Images</h2>

<div id="follow-button-form">
<% if current_user == @user %>
  All images:
<% elsif current_user.following?(@user) %> 
  You are following <%= @user.email %>
  <%= button_to "Unfollow #{@user.email}", 
    unfollow_user_path(@user), method: :delete, remote: true %>  
<% else %>
  <%= button_to "Follow #{@user.email}", follow_user_path(@user), remote: true %>  
<% end %>
</div>



<div class="thumbs">
  <%= render @images %>
</div>