<%= form_for @image do |form| %>
<%= render 'form_errors', target: @image %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %>
  </div>
  <div> 
  <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
            <%## @groups means all the groups that we want
            to display, comes from controller
            <%## :id and :name  come from @groups %>  
  </div>

  
  <div id="tag-field">
    <%= form.label :tag_list, "Tags (seperated by commas)" %> <br>
    <%= form.text_field :tag_list %>
  </div>

  <div>
  <%= form.submit "Update image" %>
  </div>
<% end %>
